<.header>
  Edit Consumable item <%= @consumable_item.id %>
  <:subtitle>Use this form to manage consumable_item records in your database.</:subtitle>
</.header>

<%= live_render(@conn, ConfiguratorWeb.ConsumableItemsLive.Form, session: %{"consumable_item" => @consumable_item}) %>

<.back navigate={~p"/consumable_items"}>Back to consumable_items</.back>
