<.header>
  New Consumable item
  <:subtitle>Use this form to manage Consumable Item records in your database.</:subtitle>
</.header>

<%= live_render(@conn, ConfiguratorWeb.ConsumableItemsLive.Form, session: %{}) %>
