<.header>
  New Consumable item
  <:subtitle>Use this form to manage consumable_item records in your database.</:subtitle>
</.header>

<.consumable_item_form changeset={@changeset} action={~p"/consumable_items"} />

<.back navigate={~p"/consumable_items"}>Back to consumable_items</.back>
