@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.config-table table{
    border-collapse: collapse;
}

.config-table th, .config-table td {
    border: 1px solid;
    padding: 0.5rem;
    white-space: nowrap;
}

.config-table th {
    text-align: left;
}

.config-table td {
    text-align: left;
}
