services:
  postgres:
    container_name: game_backend_db
    image: postgres:16.1
    ports:
      - 127.0.0.1:5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=game_backend
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - game_backend_data:/var/lib/postgresql/data/
  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    ports:
      - 9090:9090
  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    ports:
     - 9100:3000
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  game_backend_data:
  grafana_data:
