<.header>
  New Game configuration
  <:subtitle>Use this form to manage game_configuration records in your database.</:subtitle>
</.header>

<.game_configuration_form changeset={@changeset} action={~p"/game_configurations"} />

<.back navigate={~p"/game_configurations"}>Back to game_configurations</.back>
