<.header>
  New configuration group for <%= @game.name %>
  <:subtitle>Use this form to manage configuration group records in your database.</:subtitle>
</.header>

<.configuration_group_form changeset={@changeset} action={~p"/games/#{@game}/configuration_groups"} game={@game} />

<.back navigate={~p"/games"}>Back to games</.back>
