<.header>
  New Game Mode configuration
  <:subtitle>Use this form to manage Game Mode Configuration records in your database.</:subtitle>
</.header>

<%= live_render(@conn, ConfiguratorWeb.GameModeConfigurationsLive.Form, session: %{"version" => @version}) %>
