<.header>
  New Skill
  <:subtitle>Use this form to manage skill records in your database.</:subtitle>
</.header>

<.skill_form changeset={@changeset} action={~p"/skills"} />

<.back navigate={~p"/skills"}>Back to skills</.back>
