<.header>
  Edit Arena server <%= @arena_server.id %>
  <:subtitle>Use this form to manage arena_server records in your database.</:subtitle>
</.header>

<.arena_server_form changeset={@changeset} action={~p"/arena_servers/#{@arena_server}"} />

<.back navigate={~p"/arena_servers"}>Back to arena_servers</.back>
