*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.box{
    width: 50px;
    height: 50px;
}

.box-empty{
    background-color: lightgrey;
}

.box-1{
    background-color: lightcoral;
}

.box-2{
    background-color: lightgreen;
}

.box-3{
    background: linear-gradient(lightcoral, lightgreen);;
}


.box-4{
    background: linear-gradient(#FF00FF, #FA0F0F);;
}

.box-5{
    background: linear-gradient(#0ECBFF, #FACF0F);;
}


.box-wall{
    background-color: black;
}
