<.header>
  New Mechanic
  <:subtitle>Use this form to manage mechanic records in your database.</:subtitle>
</.header>

<.mechanic_form changeset={@changeset} action={~p"/mechanics"} />

<.back navigate={~p"/mechanics"}>Back to mechanics</.back>
