<.header>
  New Map configuration
  <:subtitle>Use this form to manage map_configuration records in your database.</:subtitle>
</.header>

<.map_configuration_form changeset={@changeset} action={~p"/map_configurations"} />

<.back navigate={~p"/map_configurations"}>Back to map_configurations</.back>
