<.header>
  New Map configuration
  <:subtitle>Use this form to manage Map Configuration records in your database.</:subtitle>
</.header>

<.map_configuration_form
  changeset={@changeset}
  action={~p"/versions/#{@version}/map_configurations"}
  version={@version}
/>

<.back navigate={~p"/versions/#{@version}/map_configurations"}>Back to Map Configuration</.back>
