<.form :let={f} for={%{}} action={~p"/"}>
  <.input field={f[:character]} name="character" label="Select a Character" type="select" options={["muflus", "h4ck", "uma", "valtimer"]} value=""/>
  <.button type="submit" name="game_mode" value="join">Play</.button>
  <.button type="submit" name="game_mode" value="quick_game">Quick Game</.button>
</.form>

<%= "Bienvenido #{@email}" %>

<.link navigate={"http://localhost:4001/auth/browser/google"}>Sign In with Google</.link>
