<ul>
  <li> 
  Mocked Muflus: <a href="/board/1/muflus" class="text-yellow-400">link</a>
  </li>
  <li> 
  Mocked Uma: <a href="/board/1/uma" class="text-yellow-400">link</a>
  </li>
  <li> 
  Mocked H4ck: <a href="/board/1/h4ck" class="text-yellow-400">link</a>
  </li>
  <li> 
  Mocked Valtimer: <a href="/board/1/valtimer" class="text-yellow-400">link</a>
  </li>
</ul>

