<.header>
  Game mode <%= @game_mode.id %>
  <:subtitle>This is a game_mode record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/game_modes/#{@game_mode}/edit"}>
      <.button>Edit game_mode</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @game_mode.name %></:item>
</.list>

<.back navigate={~p"/game_modes"}>Back to game_modes</.back>
