<.header>
  New Character
  <:subtitle>Use this form to manage character records in your database.</:subtitle>
</.header>

<.character_form changeset={@changeset} action={~p"/characters"} skills={@skills} />

<.back navigate={~p"/characters"}>Back to characters</.back>
