<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:data]} type="textarea" label="Data" />
  <.input field={f[:is_default]} type="checkbox" label="Is default" />
  <:actions>
    <.button>Save Configuration</.button>
  </:actions>
</.simple_form>
