<.header>
  New Configuration
  <:subtitle>Use this form to manage configuration records in your database.</:subtitle>
</.header>

<%= live_render(@conn, ConfiguratorWeb.ConfigurationLive.Configuration, session: %{"config" => @config}) %>

<.back navigate={~p"/configurations"}>Back to configurations</.back>
