<.header>
  New Configuration
  <:subtitle>Use this form to manage configuration records in your database.</:subtitle>
</.header>

<.configuration_form changeset={@changeset} action={~p"/configurations"} />

<.back navigate={~p"/configurations"}>Back to configurations</.back>
