<.header>
  Configuration <%= @configuration.id %>
  <:subtitle>This is a configuration record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/configurations/new/#{@configuration}"}>
      <.button>Modify</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Data"><%= @configuration.data %></:item>
  <:item title="Is default"><%= @configuration.is_default %></:item>
</.list>

<.back navigate={~p"/configurations"}>Back to configurations</.back>
