<%= live_render(
  @conn,
  ConfiguratorWeb.ConfigurationLive.ConfigurationShow,
  session: %{
    "game" => @game,
    "configuration_group" => @configuration_group,
    "configuration" => @configuration
  }
) %>
