<div id="board_game" phx-hook="GameQueue" data-player-id={@player_id} data-character={@character} data-player-name={@player_name} class="max-w-full max-h-[40rem] overflow-scroll"></div>

WAITING FOR A GAME TO START...
