<!DOCTYPE html>
<style>
  nav {
      padding: 15px;
  }
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  nav a {
      display: block;
  }

  .nav-left {
      float: left;
  }

  .nav-left ul li {
      float: left;
  }

  .nav-right ul li {
      float: right;
  }
</style>

<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Champions of Mirra Configurator" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <nav class="nav">
      <div class="nav-left">
        <ul>
          <li>
            <a>
              <.link href={~p"/"} class="text-sm font-semibold leading-6 text-zinc-900 hover:text-zinc-700">
                <.icon name="hero-arrow-left-solid" class="h-3 w-3" /> Back to Home
              </.link>
            </a>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <ul>
          <%= if @current_user do %>
            <li>
              <a>
                <.link
                  href={~p"/users/log_out"}
                  method="delete"
                  class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
                >
                  Log out
                </.link>
              </a>
            </li>
            <li class="text-[0.8125rem] leading-6 text-zinc-900 px-4">
              <a><%= @current_user.email %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
</html>
