<.header>
  New Version
  <:subtitle>Use this form to manage version records in your database.</:subtitle>
</.header>

<.version_form changeset={@changeset} last_version={@last_version} action={~p"/versions"} skills={@skills} />

<.back navigate={~p"/versions"}>Back to versions</.back>
