<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:game_mode_id]} type="select" options={Enum.map(@game_modes, &{&1.name, &1.id})} label="Game Mode" />

  <:actions>
    <.button>Save Version</.button>
  </:actions>
</.simple_form>
