<header class="bg-slate-900 flex justify-center items-center px-5 py-2 mb-6 border-b border-slate-800">
  <div class="text-sm font-light uppercase">Lambda Game Backend</div>
</header>
<main class="flex flex-col items-center px-10">
  <div class="max-w-2xl">
    <.flash_group flash={@flash} />
  </div>
  <%= @inner_content %>
</main>
